<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	 <%= image_tag("orazio_thumb.jpg", size: "300x300", class: "thumbimages") %>
	  <div class="caption">
	    <h3>Da Orazio</h3>
	    <p>Chef and partner Orazio D'Elia, formerly of Popolo and Icebergs, puts a serious focus on Neapolitan-style wood-fired pizza and Roman-style porchetta.</p>
	    <p><%= link_to "More", {:controller => "restaurants", :action => "show", :id => 				"da-orazio-pizza-porchetta-bondi-beach"}, class: "btn btn-primary thumbnail-buttons" %></p>
	  </div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">     
	 <%= image_tag("pavillion_thumb.jpg", size: "250x200", class: "thumbimages") %>
	  <div class="caption">
	    <h3>Coogee Pavillion</h3>
	    <p>For casual bites, snag a stool by the bar and feast on some of the city's best Neapolitan-style pizza, 
			bubbly and gently charred from the wood-fired oven.</p>
	    <p><%= link_to "More", {:controller => "restaurants", :action => "show", :id => "coogee-pavilion-coogee"}, 
												class: "btn btn-primary thumbnail-buttons" %></p>
	  </div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	 <%= image_tag("lucio_thumb.jpg", size: "300x300", class: "thumbimages") %>
	  <div class="caption">
	    <h3>Lucio Pizzeria</h3>
	    <p>Despite a lack of signage, Lucio’s reputation is such that tables fill from the moment it opens.</p>
	    <p><%= link_to "More", {:controller => "restaurants", :action => "show", :id => "lucio-pizzeria-darlinghurst"}, 
								class: "btn btn-primary thumbnail-buttons" %></p>
	  </div>
	</div>
</div>