<% provide(:title, "Pizza near " + params[:search]) %>
<div class="container-fluid results-header-div">
 	   <span>Top pizza restaurants near "<%= params[:search] %>"</span>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<%= render 'restaurants/results' %>
		</div>
		<div class="col-md-3 index-sidebar-div">
			<div class="recently-header-div">
				<span class="recently-header">Recently reviewed</span>
			</div>
			<% @recently_reviewed.each do |r| %>
			<% yelp_access = business(r.restaurant.yelp_id)%>
			<div class="each-recent-review thumbnail">
				<p><%= link_to (image_tag(yelp_access["image_url"], class: "recent-review-image")),
							{ :controller => "restaurants", :action => "show", :id => yelp_access["alias"] } %></p>
				<p class="recent-restaurant-name"><%= link_to r.restaurant.name,
							{:controller => "restaurants", :action => "show", :id => yelp_access["alias"]}  %></p>
				<span class="recent-review-name"><%= r.user.name %> ||</span>
				<span class="fa fa-star" aria-hidden="true"></span>
				<%= r.rating %>
				<div>
					<p><%= r.content %></p>
					<p>Posted <%= time_ago_in_words(r.created_at) %> ago.</p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<p><%= @results %></p>