<% provide(:title, @restaurant_name )%>
<div class="container show-background">
	<div class="row">
		<div class="col-md-9 photo-div">
			<%= image_tag(@restaurant_image, class: "main-photo") %>	
		</div>
		<div class="col-md-3 details-div">	
			<p><span class="fa fa-home details-icons" aria-hidden="true"></span> <%= @restaurant_address %></p> 
				
			<p><span class="fa fa-phone details-icons" aria-hidden="true"></span> <%= @restaurant_phone %></p>
			<p class="details-icons"><%= @restaurant_price %></p>
			<p><span class="fa fa-star details-icons" aria-hidden="true"></span> <%= @restaurant_rating %></p>
			<hr>
			<% unless @open_now.nil? %>
			<% if @open_now == true %>
			<p>OPEN NOW!</p>
			<% else %>
			<p>CURRENTLY CLOSED</p>
			<% end %>
			<% end %>
		</div>		
	</div>
</div>
<div class="container-fluid header-div">
	<div class="col-md-8">
		<span class="restaurant-header"><%= @restaurant_name %></span>
		<span><button type="button" class="btn btn-default btn-lg rating-button">
			<i class="fa fa-star fa-2x rating-star"></i><%= @restaurant_rating %></button></span>
		<p><%= @restaurant_location %></p>
	</div>
</div>
<div class="container">
	<div class"row">
		<div class="col-md-8 reviews-div">
			<% @reviews["reviews"].each do |r| %>
				<% unless r.nil? %>
					<div class="each-review">
						<% unless r["user"]["image_url"].nil? %>
							<%= image_tag(r["user"]["image_url"], class: "review-image") %> 
						<% end %>
						<% unless r["user"]["name"].nil? %>
							<span class="review-name"><%= r["user"]["name"] %> ||</span> 
						<% end %>
						<% unless r["rating"].nil? %>
							<span class="fa fa-star" aria-hidden="true"></span>
							<%= r["rating"]%>
						<% end %>
						<div>
							<% unless r["text"].nil? %>
								<%= r["text"] %>
								<% if r["text"].include? "..." %>
									<%= link_to "more", r["url"]%>
								<% end %>
							<% end %>
						</div>
					</div>
					<hr>
				<% end %>
			<% end %>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumb-div">
				<% unless restaurant_photo(1).nil? %>
			    	<%= image_tag(restaurant_photo(1), class: "thumbnail") %>
				<% end %>
			</div>
			<div class="thumb-div">
				<% unless restaurant_photo(2).nil? %>
			    	<%= image_tag(restaurant_photo(2), class: "thumbnail") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
	<p><%= @reviews %></p>
	<p><%= @spot %></p>