<% provide(:title, @restaurant_name )%>
<div class="container show-background">
	<div class="row">
		<div class="col-xs-12 col-md-9 photo-div">
			<%= image_tag(@restaurant_image, class: "main-photo", alt: "No image available") %>	
		</div>
		<%= render 'restaurants/details' %>
	</div>
</div>
<div class="container-fluid header-div">
	<div class="col-md-8">
		<span class="restaurant-header"><%= @restaurant_name %></span>
		<span><button type="button" class="btn btn-default btn-lg rating-button">
			<i class="fa fa-star fa-2x rating-star"></i><%= @restaurant_rating %></button></span>
		
		
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 reviews-div">
			<% if logged_in? %>	
				<%= render 'reviews/review_form' %>
			<% else %>
				<div class="loggedout-review-div">
					<%= link_to "Log-in to leave a review", login_path, class: "review-login" %>
					<span>
						<%= link_to "", "/auth/google_oauth2", class: "fa fa-google-plus-square social-icons" %>
					</span>
					<span>
						<%= link_to "", "/auth/facebook", class: "fa fa-facebook-square social-icons" %>
					</span>
				</div>
			<% end %>
			
			<% if @restaurant.reviews.any? %>
			<div class="reviews">
			<%= render @reviews %>
			</div>
			<% end %>
			<div class="yelp-div">
				<span class="yelp-span">Some reviews from Yelp.</span>
				<%= link_to (image_tag("yelp_burst.png", class: "yelp-burst")), "https://www.yelp.com" %>
				<hr>
			</div>
			<%= render 'restaurants/yelp_review' %>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="thumb-div">
				<% unless restaurant_photo(1).nil? %>
			    	<%= image_tag(restaurant_photo(1), class: "thumbnail") %>
				<% end %>
			</div>
			<div class="thumb-div">
				<% unless restaurant_photo(2).nil? %>
			    	<%= image_tag(restaurant_photo(2), class: "thumbnail") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
	