<%= form_for(@review) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	<div class="new-review-div">
		
		<%= f.text_area :content, class: "review-content", rows: "3", placeholder: "Write a review.." %>
		
		<span><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></span>
		<script type="text/javascript"> 
			$(":file").filestyle({ input: false, buttonText: " Upload photo", size: "sm",
			iconName: "glyphicon glyphicon-camera", buttonName: "photo-upload-button" }); 
		</script>
		<hr class="form-hr">
		<span><button type="button" class="btn btn-default review-rating-button">
			<i class="fa fa-star fa-2x rating-star"></i></button></span>
		<%= f.select(:rating, options_for_select([["-", nil], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], "-"), {},  
													{:class => "form-control rating-select"}) %>
		<%= hidden_field_tag :restaurant_id, @restaurant.id %>
		<%= f.submit "POST", class: "btn btn-primary review-submit" %>
		
	</div>
<% end %>

<script type="text/javascript">
  $('#review_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
	  $(":file").filestyle('clear');
    }
	
  });
</script>