<header>
  <nav class="navbar .navbar-expand{-sm|-md|-lg|-xl}">
	<!--PIZZAME LOGO-->
    <div class="navbar-logo-div">
	  <%= link_to "PizzaMe", root_path, class: "navbar-brand"%>
    </div>
	<!--SEARCH BAR-->
	<div class="navbar-search-div hidden-xs">	
		<span class="glyphicon glyphicon-search nav-search-icon" aria-hidden="true"></span>
	  <%= form_tag(restaurants_index_path, :method => "get", id: "search-form", 
	  										class: "form-inline navbar-formm") do %>
	  <%= text_field_tag :search, params[:search], placeholder: "Search", 															class: "form-control navbar-search" %>
	  <%= select_tag(:state, options_for_select(['NSW', 'VIC', 'QLD', 'WA', 'SA', 'TAS', 'NT', 'ACT']), 
	  												{:class => "nav-state-select"}) %>
		<% end %>
	</div>
	<!--NAVIGATION LINKS-->
	
	<ul class="navbar-user-links navbar-right">
		<% if logged_in? %>
		<li class="login-nav hidden-xs"><%= current_user.name %></li>
		<li><div class="avadiv"><%=link_to image_tag(current_user.profile_image, size: "40x40", class: "avatar"), 									current_user %></div></li>
		<% else%>
		<li><%= link_to "Log-in/Sign-up", login_path, class: "login-nav hidden-xs" %></li>
		<li class="social-parent">
			<%= link_to "", "/auth/google_oauth2", class: "fa fa-google-plus-square fa-3x social-icons hidden-xs" %>
		</li>
		<li class="social-parent">
			<%= link_to "", "/auth/facebook", class: "fa fa-facebook-square fa-3x social-icons hidden-xs" %>
		</li>
		<% end %>	
		<!--DROPDOWN MENU-->
		<li><button type="button" class="btn btn-default dropdown-toggle menu-button" data-toggle="dropdown" 						aria-haspopup="true" aria-expanded="false">
  		  <span class="fa fa-align-justify fa-3x"></span></button>
	          <ul class="dropdown-menu dropdown-menu-right">
	            <li><a href="/">Pizza</a></li>
				<% if logged_in? %>
					<li><%= link_to "Profile", current_user %></li>
					<% unless current_user.oauth_login? %>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
					<% end %>
					<% if current_user.admin? %>
						<li><%= link_to "All users", users_path %></li>
					<% end %>
					<li role="separator" class="divider"></li>	
					<li><a href="/logout" data-method="delete">Log out</a></li>
				<% else %>
				<li role="separator" class="divider"></li>
	            <li><%= link_to "Login", login_path %></li>
				<li><%= link_to "Signup", signup_path %></li>
				<% end %>
	          </ul>
		</li>	
	</ul>
	
  </nav>
  <div class="container-fluid sub-nav">
  </div>
</header>